extends layout

block content
  h1= title
  table(class='table table-condensed')
    thead
      tr
        th Team Number
        th Team Name
        th Location
        th Website
      tr
        td #{team.team_number}
        td #{team.name}
        td #{team.location}
        td <a href='#{team.website}'> #{team.website}
